<% @top_rated.each do |m| %>
	<p style="user-select:text;-webkit-user-select: text;">
		<%= m['id'] %>
	</p>
<% end %>
<% @popular.each do |m| %>
	<p style="user-select:text;-webkit-user-select: text;">
		<%= m['id'] %>
	</p>
<% end %>
<% @now_playing.each do |m| %>
	<p style="user-select:text;-webkit-user-select: text;">
		<%= m['id'] %>
	</p>
<% end %>
<% @movies.each do |m| %>
	<p style="user-select:text;-webkit-user-select: text;">
		<%= m['id'] %>
	</p>
<% end %>