
<!doctype html>
<html lang="en">

<head>
  <title>whatshouldiwat.ch</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./../../assets/stylesheets/landing.css">
</head>
<body>
  <div class="spinnerSmall"></div>

  <div class="container">
    <div class="container__content  centre--element  push--top-three-spaces">

      <nav class="clearfix  max-width--960  centre--element  text--smaller">
        <a href="http://www.sylion.com/squireapp" class="logo  float--left"><img src="./../../assets/images/logo.svg" alt="squireapp logo"></a>

        <div class="float--right  text--uppercase  reduce-opacity--60">
          <!--<a href="#" class="current-link" title="Squire">Squire</a>
          <a href="#" title="Blog">Blog</a>-->
          <a href="mailto:support@sylion.com" title="signup">Sign Up</a>
        </div>
      </nav>



      <section class="main-text  push--top-five-spaces  text--centre">
        <h1 class="main-text__heading  ">whatshouldiwat.ch?</h1>

        <div class="main-text__cta">
          <h2 class="visuallyhidden">Get ready, the show will start soon. <a href="http://www.twitter.com/squireapp" class="link-underline">Follow Us</a></h2>
        </div>
      </section>



      <section class="macbook  centre--element  position--fixed-bottom  no-button ">
        <div class="macbook__frame">
          <div class="macbook__screen">
            <div class="slider">
              <ul class="slides  no-list-styling">
                <li class="slide"><img src="./../../assets/images/screen1.jpg" /></li>
                <li class="slide"><img src="./../../assets/images/screen2.jpg" /></li>
                <li class="slide"><img src="./../../assets/images/screen3.jpg" /></li>
                <li class="slide"><img src="./../../assets/images/screen4.jpg" /></li>
              </ul>
            </div>

            <div class="slider-arrows">
              <a href="#" class="slider-arrow  slider-arrow--right" data-distance="1"></a>
              <a href="#" class="slider-arrow  slider-arrow--left" data-distance="-1"></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>



  <!-- Background image -->
  <div class="bg-wrapper">
    <img src="./../../assets/images/bg.jpg" class="bg-wrapper__image" />
  </div>



  <!-- JS scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="./../../assets/js/landing.js"></script>
</body>
</html>